<template>
  <div>
    <h2>Homepage</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet voluptatibus corporis, veniam beatae repellendus dolorem neque officia aperiam, minus magnam optio ab, similique dolor architecto ad cum quos repellat? Quibusdam officiis natus, facere odio non iure.</p>
    <router-link to="/todos">Todos</router-link>
  </div>
</template>