<template>
  <div>
    <h2>Todo list</h2>
    <router-link to="/">Home</router-link>
    <hr>
    <AddTodo />
    <p>
      <select v-model="filter">
      <option value="all">all</option>
      <option value="completed">Completed</option>
      <option value="not-completed">Not completed</option>
    </select>
    </p>
    <hr>
    <Loader v-if="loadingStatus" />
    <TodoList v-else-if="filteredTodos.length" :todos="filteredTodos" />
    <p v-else>List is empty</p>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import AddTodo from '@/components/add-todo';
import TodoList from '@/components/todo-list';
import Loader from '@/components/loader';

export default {
  data: () => ({
    filter: 'all',
  }),
  async mounted() {
    this.fetchTodos();
  },
  components: {
    AddTodo,
    TodoList,
    Loader,
  },
  computed: {
    ...mapGetters(['todos', 'loadingStatus']),
    filteredTodos() {
      if (this.filter === 'completed') {
        return this.todos.filter(({ completed }) => completed);
      }
      if (this.filter === 'not-completed') {
        return this.todos.filter(({ completed }) => !completed);
      }

      return this.todos;
    }
  },
  methods: {
    ...mapActions(['fetchTodos']),
  },
}
</script>