<template>
  <form @submit.prevent="onSubmit">
    <input type="text" v-model="title">
    <button>Create</button>
  </form>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  data: () => ({
    title: '',
  }),
  methods: {
    ...mapMutations(['createNewTodo']),
    onSubmit() {
      if (this.title.trim()) {
        this.createNewTodo({
          id: Date.now(),
          title: this.title,
          completed: false,
        });
        this.title = '';
      }
    }
  }
}
</script>