<template>
  <li>
    <label v-bind:class="{done: todo.completed}">
      <input type="checkbox" v-on:change="todo.completed = !todo.completed">
      <strong>{{ index + 1 }}</strong>
      {{ todo.title | uppercase }}
    </label>
    <button class="rm" @click="deleteTodoItem">&times;</button>
  </li>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  props: {
    todo: {
      type: Object,
      required: true,
    },
    index: Number,
  },
  filters: {
    uppercase: (value) => value.toUpperCase(),
  },
  methods: {
    ...mapMutations(['deleteTodo']),
    deleteTodoItem() {
      this.deleteTodo(this.todo.id);
    }
  }
}
</script>

<style scoped>
li {
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
}

.rm {
  background: red;
  color: #fff;
  border-radius: 50%;
  font-weight: 700;
  border: 0;
}

input {
  margin-right: 1rem;
}

.done {
  text-decoration: line-through;
}
</style>