<template>
  <div>
    <ul>
      <TodoItem 
        v-for="(todo, i) in todos"
        :key="todo.id"
        :todo="todo"
        :index="i"
      />
    </ul>
  </div>
</template>

<script>
import TodoItem from '@/components/todo-item';

export default {
  props: ['todos'],
  components: {
    TodoItem,
  },
}
</script>

<style scoped>
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
</style>